%html
    %head
        %title Hack a Movie
        %script{:type => "text/javascript", :"data-main" => "js/main", :src => "js/vendor/require-1.0.8.js"}
        %link{:rel => "StyleSheet", :href => "css/main.css", :type => "text/css"}
    %body
        %div.top
            %a{:href => "/"} Latest Clips
            %a{:href => "/create"} Create New
        
        %div.content