<div class="thumb horizontal">
    <img src="{{thumbnailUrl}}" />
</div>
<div class="description horizontal">
    <div class="title">{{title}}</div>
    <div class="movie">{{movie.name}}</div>
</div>
